body {
    margin:0px;
}

#header {
    width:100%;
    height:40px;
    background-color:#888888;
}

#logo {
    width:40px;
    margin-left:10px;
}

#main-canvas {
    width:70%;
    height:100%;
}

#sidebar {
    position:absolute;
    right:0px;
    top:40px;
    width:30%;
    background-color:#555555;
    height:100%;
}

#sidebar-footer {
    position:absolute;
    bottom:40px;
    height:100px;
    width:100%;
    background-color:#555555;
}

#canvas-footer {
    position:absolute;
    bottom:0px;
    height:100px;
    width:70%;
    background-color:#555555;
}

#camera-button {
//    float:left;
//    width:50%;
    border-left:1px solid black;
}

#mic-button {
//    float:right;
//    width:50%;
}

#canvas-buttons {
    width:100%;
    height:100%;
}

#sidebar-buttons {
    width:100%;
    height:100%;
    border-top:1px solid black;
}

#browser-view {
    width:100%;
}

#sidebar-buttons td {
    width:33%;
    border-left:1px solid black;
}

#canvas-buttons td {
    width:50%;
}

.button {
    text-align:center;
    vertical-align:center;
    height:100%;
    padding-top:15px;
}

.button:hover {
    background-color:#AAA;
}

#webcam-view {
    display:none;
    width:300px;
    height:300px;
    position:fixed;
    bottom:0px;
    left:0px;
}

#webcam-video {
    width:300px;
}

.sidebar-container {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    display:none;
    padding:5px;
}

a {
    text-decoration:none;
    color:black;
}

.document {
    width:95%;
    height:30px;
    text-align:center;
    border-radius:30px;
    background-color:#AAA;
    margin-bottom:5px;
    padding-top:20px;
}

.document:hover {
    background-color:#70c659;
}

.title-bar {
    display:inline;
}

#title {
    position:relative;
    top:-10px;
    margin-left:10px;
}